$textColor: #111111;
$primaryColor: #12afaf;
$primaryColorDark: #064e4e;
$secondaryColor: #009500;
$secondaryColorDark: #057705;
$whiteColor: #ffffff;
$grayColor: #8c8888;

@mixin position-fixed($top, $right, $bottom, $left) {
    position: fixed;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@keyframes arrow-down-animated {
    from {
        transform: translateY(0);
    }
    50% {
        transform: translateY(6px);
    }
    to {
        transform: translateY(0);
    }
}
